<form action="index.php" method="post">
<center>
<table>
      <tr>
            <td align="right">Пользователь:</td>
            <td><input type="text" name="login" /></td>
      </tr>
      <tr>
            <td align="right">Пароль:</td>
            <td><input type="password" name="password" /></td>
      </tr>
      <tr>
            <td></td>
            <td><input type="submit" value="Вход" /></td>
      </tr>
</table>
</center>
</form>
